
.navbar {
    background-color: #333;
    padding: 10px 20px; 
     font-weight: bold;
     text-transform: uppercase;
  
  }
  

  .navbar-nav {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
     align-items: center;
  }
  

  .nav-item {
    margin-right: 15px; 
  }
  
  
  .nav-link {
    color: #fff; 
    text-decoration: none; 
  }
  
 
  .nav-link:hover {
    text-decoration: underline; 
    color: crimson;
   
  }
  

  .home{
    font-size: 23px;
    font-weight: bold;
    
   
  }